---
layout: homepage
---

<h1> Recent Talks </h1>

{% for post in site.categories.talk %}
    <h2 id = "{{ post.id }}">{{ post.title }}</h2>
    <p class="view">by {{ post.author | default: site.author }}</p>
    <p class="view">coordinates 
        {% if post.link %}
          <a href="{{ post.link }}"> {{ post.coordinates }} </a>
        {% else %}
          {{ post.coordinates }}
        {% endif %}
        </p>
    {% if post.slides == "true"%}
              <p class="view"> <a href="/assets/resource/2020-04-16-Pranjal-Dutta.pdf"> Slides</a> </p>
    {% endif %}

    <div class = "talk-content">
        {{ post.content }}
    </div>
    {% break %}
{% endfor %}

<hr>

<h1> Recent Lecture Series </h1>

{% for post in site.categories.lecture %}
    <h2 id = "{{ post.id }}">{{ post.title }}</h2>
    <p class="view">by {{ post.author | default: site.author }}</p>
    <p class="view">coordinates {{ post.coordinates }}</p>

    <div class = "talk-content">
        {{ post.content }}
    </div>
    {% break %}
{% endfor %}