---
layout: default
---

<header>
    <h1 class="homepage-title"><a href="{{ site.url }}">
      <div class="site-title">{{ site.title | default: site.github.repository_name }}</div>
    </a></h1>
    
    {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <div class="navbar flex flex-horizontal-center">
      <!-- <div class="navbar-links"><a href="{{ item.url }}">About</a></div> -->
      <div class="navbar-links"><a href="{{ site.baseurl }}/talks/">Talks</a></div>
      <div class="navbar-links"><a href="{{ site.baseurl }}/lectures/">Lectures</a></div>

    </div>

    <p class="site-description">{{ site.description | default: site.github.project_tagline }}</p>

    <!-- {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
    {% endif %} -->

    <!-- {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %} -->
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>

  </header>
  <section>

  {{ content }}

  </section>